{{ define "random/edit" }}

<main>
  {{ if .Random }}
  <h1>投稿を編集</h1>
  {{ else }}
  <h1>投稿を追加</h1>
  {{ end }}

{{ if .Random }}
<form action="/random/{{ .Random.ID }}" method="POST">
{{ else }}
<form action="/random/new" method="POST">
{{ end }}
  <label>
    <span>タイトル</span>
    <input type="text" value="{{ .Random.Title }}" name="Title">
  </label>

  <label>
    <span>本文</span>
    <textarea name="BodyMD">
      {{ .Random.BodyMD }}
    </textarea>
  </label>

  <input type="hidden" value="{{ .Random.BodyHTML }}" name="BodyHTML">

  <label>
    <span>公開日</span>
    <input type="date" value="{{ .Random.PublishedAt }}" name="PublishedAt">
  </label>

  <label>
    <span>下書き</span>
    <input type="checkbox" checked="{{ .Random.Draft }}" name="Draft">
  </label>

  <button type="submit">保存</button>
</form>
</main>

<style>
main {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

label {
  display: block;
  width: 100%;
}

label > span {
  display: block;
}
</style>

{{ end }}
